<head>
  <title>Smart Software Factory - Proxy</title>
</head>
<body>
  <h1>Smart Software Factory - Proxy</h1>
  <h2>Provided Services</h2>
  <ul>
  	<li>Jenkins (jenkins.proxy)</li>
  	<li>Sonatype Nexus OSS (nexus.proxy)</li>
  	<li>Private Docker Registry (regui.proxy)</li>
  </ul>
  <p>
  <b>Please replace "proxy" with DNS-Name of your proxy instance</b>
</body>
